

  <div class="report-card">
    <div class="d-flex flex-row align-content-center justify-content-space-between pb-4">
      <span class="txt-size-title font-weight-bold"><%= optional.title %></span>

      <i class="fa-regular fa-close secondary-light-color"></i>
    </div>

    <div class="d-flex flex-column gap-2">

      <div class="d-flex flex-row align-content-center gap-2">
        <input type="radio" name="select" id="one">
        <label class="txt-size-big font-weight-medium" for="one"><%= optional.description1 %></label>
      </div>


      <div class="d-flex flex-row align-content-center gap-2">
        <input type="radio" name="select" id="two">
        <label class="txt-size-big font-weight-medium" for="two"><%= optional.description2 %></label>
      </div>


      <div class="d-flex flex-row align-content-center gap-2">
        <input type="radio" name="select" id="three">
        <label class="txt-size-big font-weight-medium" for="three"><%= optional.description3 %></label>
      </div>


      <div class="d-flex flex-row align-content-center gap-2">
        <input type="radio" name="select" id="four">
        <label class="txt-size-big font-weight-medium" for="four"><%= optional.description4 %></label>
      </div>


      <div class="d-flex flex-row align-content-center gap-2">
        <input type="radio" name="select" id="five">
        <label class="txt-size-big font-weight-medium" for="five"><%= optional.description5 %></label>
      </div>


      <div class="d-flex flex-row align-content-center gap-2">
        <input type="radio" name="select" id="six">
        <label class="txt-size-big font-weight-medium" for="six"><%= optional.description6 %></label>
      </div>

    </div>

    <button type="submit" class="w-100 py-3 bg-button-color button-text-color radius-all-small font-weight-medium bg-btn-hover"><%= optional.reportbtn %></button>

  </div>
