<div class="product-gallery slider">
    <div class="slider-wrapper slider-loop">
        <div class="slider-container">
            <%_ for(let i = 0; i < productGallerySlider.sliderContents.length; i++){ -%>
                <div id="<%= productGallerySlider.sliderContents[i].id %>" class="slider-content">
                    <img src="./assets/media/images/<%= productGallerySlider.sliderContents[i].image.src %>" alt="<%= productGallerySlider.sliderContents[i].image.alt %>">
                </div>
            <%_ } -%>
        </div>
    </div>
    <div class="slider-toggles">
        <%_ for(let i = 0; i < productGallerySlider.sliderToggles.length; i++){ -%>
            <img class="slider-toggle" data-slider-id="<%= productGallerySlider.sliderToggles[i].id %>" src="./assets/media/images/<%= productGallerySlider.sliderToggles[i].image.src %>" alt="<%= productGallerySlider.sliderToggles[i].image.alt %>">
        <%_ } -%>
    </div>
</div>