<button class="product-button-feature check-payment"><%= productButtonFeature.buyByCheque %></button>
<button class="product-button-feature installments "><%= productButtonFeature.buyByInstallments %></button>
<button class="product-button-feature payable-credit"><%= productButtonFeature.buyByCredit %></button>
<button class="product-button-feature original"><%= productButtonFeature.isReal %></button>
<button class="product-button-feature fake"><%= productButtonFeature.isFake %></button>
<button class="product-button-feature warranty"><%= productButtonFeature.hasGuarantee %></button>