<div class="overflow-x-xl-scroll w-100 bw-1 bt-style-dashed bb-style-dashed border-color w-100 bg-on-primary-color radius-all-medium">
   <div class="contain-feachures  justify-content-space-around w-100">
      <div class="featurebox ">
      <div class="">
         <span class="topic "><%= title.featurs[0].title %></span>
         <span class="description "><%= subtitle.featurs[0].subtitle %></span>
      </div>
      <i class="fa-solid fa-box"></i>
      </div>
      <div class="line"></div>
      <div class="featurebox ">
      <div class="">
         <span class="topic "><%= title.featurs[1].title %></span>
         <span class="description ">خ<%= subtitle.featurs[1].subtitle %></span>
      </div>
      <i class="fa-solid fa-shield"></i>
      </div>
      <div class="line"></div>
      <div class="featurebox ">
      <div class="">
         <span class="topic "><%= title.featurs[2].title %></span>
         <span class="description "><%= subtitle.featurs[2].subtitle %></span>
      </div>
      <i class="fa-solid fa-truck-fast"></i>
      </div>
      <div class="line"></div>
      <div class="featurebox ">
      <div class="">
         <span class="topic "><%= title.featurs[3].title %></span>
         <span class="description "><%= subtitle.featurs[3].subtitle %></span>
      </div>
      <i class="fa-solid fa-headset"></i>
      </div>
   </div>
</div>