
      <div class="contain-feachures">
         <div class="featurebox ">
            <div class="">
               <span class="topic "><%= title.featurs[0].title %></span>
               <span class="description "><%= subtitle.featurs[0].subtitle %></span>
            </div>
            <img src="<%= getMedia(lang, 'pannels/pannel(2).webp', 'images'); %>" alt=" ">
         </div>
         <div class="line"></div>
         <div class="featurebox ">
            <div class="">
               <span class="topic "><%= title.featurs[1].title %></span>
               <span class="description "><%= subtitle.featurs[1].subtitle %></span>
            </div>
            <img src="<%= getMedia(lang, 'pannels/pannel(2).webp', 'images'); %>" alt=" ">
         </div>
         <div class="line"></div>
         <div class="featurebox ">
            <div class="">
               <span class="topic "><%= title.featurs[2].title %></span>
               <span class="description "><%= subtitle.featurs[2].subtitle %></span>
            </div>
            <img src="<%= getMedia(lang, 'pannels/pannel(2).webp', 'images'); %>" alt=" ">
         </div>
         <div class="line"></div>
         <div class="featurebox ">
            <div class="">
               <span class="topic "><%= title.featurs[3].title %></span>
               <span class="description "><%= subtitle.featurs[3].subtitle %></span>
            </div>
            <img src="<%= getMedia(lang, 'pannels/pannel(2).webp', 'images'); %>" alt=" ">
         </div>
      </div>
 