<footer id="footer" class="section w-100 bg-background-color">
    <div class="container d-flex flex-column gap-10 w-100">
        <div class="d-flex flex-row flex-sm-column gap-12 w-100">
            <div class="d-grid grid-6 grid-xl-3 grid-md-2 grid-sm-3 w-100 gap-xl-10">
                <div class="footer-navbar">
                    <ul class="d-flex flex-column gap-6">
                        <li class="pr-8">
                            <span class="txt-size-mid-title secondary-text-color font-weight-bold text-nowrap"><%= t.components.footer.menuNav.listOne.title %></span>
                        </li>
                        <li class="line"></li>
                        <li class="pr-8">
                            <a href="./pages/shop.html"
                                class="text-color txt-size-title font-weight-bold text-nowrap"><%= t.components.footer.menuNav.listOne.itemOne %></a>
                        </li>
                        <li class="pr-8">
                            <a href="./pages/shop.html"
                                class="text-color txt-size-title font-weight-bold text-nowrap"><%= t.components.footer.menuNav.listOne.itemTwo %></a>
                        </li>
                        <li class="pr-8">
                            <a href="./pages/shop.html"
                                class="text-color txt-size-title font-weight-bold text-nowrap"><%= t.components.footer.menuNav.listOne.itemThree %></a>
                        </li>
                        <li class="pr-8">
                            <a href="./pages/shop.html"
                                class="text-color txt-size-title font-weight-bold text-nowrap"><%= t.components.footer.menuNav.listOne.itemFour %></a>
                        </li>
                        <li class="pr-8">
                            <a href="./pages/shop.html"
                                class="text-color txt-size-title font-weight-bold text-nowrap"><%= t.components.footer.menuNav.listOne.itemFive %></a>
                        </li>
                        <li class="pr-8">
                            <a href="./pages/shop.html"
                                class="text-color txt-size-title font-weight-bold text-nowrap"><%= t.components.footer.menuNav.listOne.itemSix %></a>
                        </li>
                    </ul>
                </div>

                <div class="footer-navbar">
                    <ul class="d-flex flex-column gap-6">
                        <li class="pr-8">
                            <span class="txt-size-mid-title secondary-text-color font-weight-bold text-nowrap"><%= t.components.footer.menuNav.listTwo.title %></span>
                        </li>
                        <li class="line"></li>
                        <li class="pr-8">
                            <a href="./pages/shop.html"
                                class="text-color txt-size-title font-weight-bold text-nowrap"><%= t.components.footer.menuNav.listTwo.itemOne %></a>
                        </li>
                        <li class="pr-8">
                            <a href="./pages/shop.html"
                                class="text-color txt-size-title font-weight-bold text-nowrap"><%= t.components.footer.menuNav.listTwo.itemTwo %></a>
                        </li>
                        <li class="pr-8">
                            <a href="./pages/shop.html"
                                class="text-color txt-size-title font-weight-bold text-nowrap"><%= t.components.footer.menuNav.listTwo.itemThree %></a>
                        </li>
                        <li class="pr-8">
                            <a href="./pages/shop.html"
                                class="text-color txt-size-title font-weight-bold text-nowrap"><%= t.components.footer.menuNav.listTwo.itemFour %></a>
                        </li>
                        <li class="pr-8">
                            <a href="./pages/shop.html"
                                class="text-color txt-size-title font-weight-bold text-nowrap"><%= t.components.footer.menuNav.listTwo.itemFive %></a>
                        </li>
                        <li class="pr-8">
                            <a href="./pages/shop.html"
                                class="text-color txt-size-title font-weight-bold text-nowrap"><%= t.components.footer.menuNav.listTwo.itemSix %></a>
                        </li>
                    </ul>
                </div>

                <div class="footer-navbar">
                    <ul class="d-flex flex-column gap-6">
                        <li class="pr-8">
                            <span class="txt-size-mid-title secondary-text-color font-weight-bold text-nowrap"><%= t.components.footer.menuNav.listThree.title %></span>
                        </li>
                        <li class="line"></li>
                        <li class="pr-8">
                            <a href="./index.html" class="text-color txt-size-title font-weight-bold text-nowrap"><%= t.components.footer.menuNav.listThree.itemOne %></a>
                        </li>
                        <li class="pr-8">
                            <a href="#" class="text-color txt-size-title font-weight-bold text-nowrap"><%= t.components.footer.menuNav.listThree.itemTwo %></a>
                        </li>
                        <li class="pr-8">
                            <a href="./faq.html" class="text-color txt-size-title font-weight-bold text-nowrap"><%= t.components.footer.menuNav.listThree.itemThree %></a>
                        </li>
                        <li class="pr-8">
                            <a href="#" class="text-color txt-size-title font-weight-bold text-nowrap"><%= t.components.footer.menuNav.listThree.itemFour %></a>
                        </li>
                        <li class="pr-8">
                            <a href="./contact-us.html"
                                class="text-color txt-size-title font-weight-bold text-nowrap"><%= t.components.footer.menuNav.listThree.itemFive %></a>
                        </li>
                        <li class="pr-8">
                            <a href="./about-us.html"
                                class="text-color txt-size-title font-weight-bold text-nowrap"><%= t.components.footer.menuNav.listThree.itemSix %></a>
                        </li>
                    </ul>
                </div>

                <div class="footer-navbar">
                    <ul class="d-flex flex-column gap-6">
                        <li class="pr-8">
                            <span class="txt-size-mid-title secondary-text-color font-weight-bold text-nowrap"><%= t.components.footer.menuNav.listFour.title %></span>
                        </li>
                        <li class="line"></li>
                        <li class="pr-8">
                            <a href="#" class="text-color txt-size-title font-weight-bold text-nowrap"><%= t.components.footer.menuNav.listFour.itemOne %></a>
                        </li>
                        <li class="pr-8">
                            <a href="#" class="text-color txt-size-title font-weight-bold text-nowrap"><%= t.components.footer.menuNav.listFour.itemTwo %></a>
                        </li>
                        <li class="pr-8">
                            <a href="#" class="text-color txt-size-title font-weight-bold text-nowrap"><%= t.components.footer.menuNav.listFour.itemThree %></a>
                        </li>
                        <li class="pr-8">
                            <a href="#" class="text-color txt-size-title font-weight-bold text-nowrap"><%= t.components.footer.menuNav.listFour.itemFour %></a>
                        </li>
                        <li class="pr-8">
                            <a href="#" class="text-color txt-size-title font-weight-bold text-nowrap"><%= t.components.footer.menuNav.listFour.itemFive %></a>
                        </li>
                        <li class="pr-8">
                            <a href="#" class="text-color txt-size-title font-weight-bold text-nowrap"><%= t.components.footer.menuNav.listFour.itemSix %></a>
                        </li>
                    </ul>
                </div>

                <div class="footer-navbar">
                    <ul class="d-flex flex-column gap-6">
                        <li class="pr-8">
                            <span class="txt-size-mid-title secondary-text-color font-weight-bold text-nowrap"><%= t.components.footer.menuNav.listFive.title %></span>
                        </li>
                        <li class="line"></li>
                        <li class="pr-8">
                            <a href="#" class="text-color txt-size-title font-weight-bold text-nowrap"><%= t.components.footer.menuNav.listFive.itemOne %></a>
                        </li>
                        <li class="pr-8">
                            <a href="#" class="text-color txt-size-title font-weight-bold text-nowrap"><%= t.components.footer.menuNav.listFive.itemTwo %></a>
                        </li>
                        <li class="pr-8">
                            <a href="#" class="text-color txt-size-title font-weight-bold text-nowrap"><%= t.components.footer.menuNav.listFive.itemThree %></a>
                        </li>
                        <li class="pr-8">
                            <a href="#" class="text-color txt-size-title font-weight-bold text-nowrap"><%= t.components.footer.menuNav.listFive.itemFour %></a>
                        </li>
                        <li class="pr-8">
                            <a href="#" class="text-color txt-size-title font-weight-bold text-nowrap"><%= t.components.footer.menuNav.listFive.itemFive %></a>
                        </li>
                    </ul>
                </div>

                <div class="footer-navbar">
                    <ul class="d-flex flex-column gap-6">
                        <li class="pr-8">
                            <span class="txt-size-mid-title secondary-text-color font-weight-bold text-nowrap"><%= t.components.footer.menuNav.listSix.title %></span>
                        </li>
                        <li class="line"></li>
                        <li class="pr-8">
                            <a href="./law.html" class="text-color txt-size-title font-weight-bold text-nowrap"><%= t.components.footer.menuNav.listSix.itemOne %></a>
                        </li>
                        <li class="pr-8">
                            <a href="./law.html" class="text-color txt-size-title font-weight-bold text-nowrap"><%= t.components.footer.menuNav.listSix.itemTwo %></a>
                        </li>
                        <li class="pr-8">
                            <a href="#" class="text-color txt-size-title font-weight-bold text-nowrap"><%= t.components.footer.menuNav.listSix.itemThree %></a>
                        </li>
                        <li class="pr-8">
                            <a href="#" class="text-color txt-size-title font-weight-bold text-nowrap"><%= t.components.footer.menuNav.listSix.itemFour %></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="d-flex flex-column gap-6 pl-8 pl-lg-0">
                <div class="d-flex flex-row align-items-center justify-content-space-between">
                    <span class="txt-size-mid-title text-color font-weight-bold text-nowrap"><%= t.components.footer.trustBadgeBox.title %></span>
                </div>
                <div class="line"></div>
                <div class="d-flex flex-row align-items-center justify-content-space-between gap-2 w-100">
                    <img src="<%= getMedia(lang, 'single/standard-logo-1.webp', 'images'); %>" alt=""/>
                    <img src="<%= getMedia(lang, 'single/standard-logo-2.webp', 'images'); %>" alt=""/>
                    <img src="<%= getMedia(lang, 'single/standard-logo-3.webp', 'images'); %>" alt=""/>
                </div>
                <div class="line"></div>
                <div class="d-flex flex-column gap-4">
                    <span class="txt-size-mid-title text-color font-weight-bold text-nowrap"><%= t.components.footer.socialMediaBox.title %></span>
                    <div class="d-flex flex-row align-items-center justify-content-space-between">
                        <img src="<%= getMedia(lang, 'single/Social-network.svg', 'images'); %>" alt=""/>
                        <img src="<%= getMedia(lang, 'single/eitaa.svg', 'images'); %>" alt=""/>
                        <img src="<%= getMedia(lang, 'single/instagram.svg', 'images'); %>" alt=""/>
                        <img src="<%= getMedia(lang, 'single/telegram.svg', 'images'); %>" alt=""/>
                        <img src="<%= getMedia(lang, 'single/whatsapp.svg', 'images'); %>" alt=""/>
                    </div>
                </div>
            </div>
        </div>

        <div
            class="service-box d-grid grid-8 grid-sm-4 justify-content-space-between gap-3 w-100 pl-xl-0 pt-10 top-line">
            <div class="d-flex flex-column align-items-center justify-content-space-between w-100">
                <img src="<%= getMedia(lang, 'single/8.webp', 'images') %>" alt=""/>
                <span class="secondary-text-color text-nowrap txt-size-normal font-weight-bold"><%= t.components.footer.featuresBox.featureOne %></span>
            </div>
            <div class="d-flex flex-column align-items-center justify-content-space-between w-100">
                <img src="<%= getMedia(lang, 'single/7-1.webp', 'images') %>" alt=""/>
                <span class="secondary-text-color text-nowrap txt-size-normal font-weight-bold"><%= t.components.footer.featuresBox.featureTwo %></span>
            </div>
            <div class="d-flex flex-column align-items-center justify-content-space-between w-100">
                <img src="<%= getMedia(lang, 'single/6-2.webp', 'images') %>" alt=""/>
                <span class="secondary-text-color text-nowrap txt-size-normal font-weight-bold"><%= t.components.footer.featuresBox.featureThree %></span>
            </div>
            <div class="d-flex flex-column align-items-center justify-content-space-between w-100">
                <img src="<%= getMedia(lang, 'single/4-2.webp', 'images') %>" alt=""/>
                <span class="secondary-text-color text-nowrap txt-size-normal font-weight-bold"><%= t.components.footer.featuresBox.featureFour %></span>
            </div>
            <div class="d-flex flex-column align-items-center justify-content-space-between w-100">
                <img src="<%= getMedia(lang, 'single/5-2.webp', 'images') %>" alt=""/>
                <span class="secondary-text-color text-nowrap txt-size-normal font-weight-bold"><%= t.components.footer.featuresBox.featureFive %></span>
            </div>
            <div class="d-flex flex-column align-items-center justify-content-space-between w-100">
                <img src="<%= getMedia(lang, 'single/3-2.webp', 'images') %>" alt=""/>
                <span class="secondary-text-color text-nowrap txt-size-normal font-weight-bold"><%= t.components.footer.featuresBox.featureSix %></span>
            </div>
            <div class="d-flex flex-column align-items-center justify-content-space-between w-100">
                <img src="<%= getMedia(lang, 'single/2-2.webp', 'images') %>" alt=""/>
                <span class="secondary-text-color text-nowrap txt-size-normal font-weight-bold"><%= t.components.footer.featuresBox.featureSeven %></span>
            </div>
            <div class="d-flex flex-column align-items-center justify-content-space-between w-100">
                <img src="<%= getMedia(lang, 'single/1-2.webp', 'images') %>" alt=""/>
                <span class="secondary-text-color text-nowrap txt-size-normal font-weight-bold"><%= t.components.footer.featuresBox.featureEight %></span>
            </div>
        </div>

        <div class="line"></div>

        <div class="d-flex flex-row align-items-center gap-8">
            <img src="<%= getMedia(lang, 'single/logo-web4.webp', 'images') %>" alt=""/>
            <div class="d-flex flex-column justify-content-center gap-4 align-items-center">
                <p class="text-color txt-size-title font-weight-bold line-height-4 w-85 txt-align-center"><%= t.components.footer.aboutUsText %></p>
                <div class="d-flex flex-column justify-content-space-between gap-xl-3 w-100 pt-10 top-line">
                    <div class="d-flex flex-row align-items-center justify-content-space-between gap-6">
                        <span class="text-color txt-size-mid-title font-weight-bold text-nowrap"><%= t.components.footer.contactUsBox.methodOne.key %></span>
                        <div class="d-flex flex-row align-items-center gap-4">
                            <span class="text-color txt-size-big-title text-nowrap"><%= t.components.footer.contactUsBox.methodOne.value %></span>
                            <i class="fa-regular fa-phone text-color txt-size-mid-title"></i>
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-space-between gap-6">
                        <span class="secondary-text-color txt-size-normal font-weight-bold text-nowrap"><%= t.components.footer.contactUsBox.methodTwo.key %></span>
                        <div class="d-flex flex-row align-items-center gap-4">
                            <span class="text-color txt-size-big font-weight-bold text-nowrap"><%= t.components.footer.contactUsBox.methodTwo.value %></span>
                            <i class="fa-regular fa-envelope text-color txt-size-mid-title"></i>
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-space-between gap-6">
                        <span class="secondary-text-color txt-size-normal font-weight-bold text-nowrap"><%= t.components.footer.contactUsBox.methodThree.key %></span>
                        <div class="d-flex flex-row align-items-center gap-4">
                            <span class="text-color txt-size-big font-weight-bold text-nowrap"><%= t.components.footer.contactUsBox.methodThree.value %></span>
                            <i class="fa-regular fa-location-dot text-color txt-size-mid-title"></i>
                        </div>
                    </div>
                </div>
            </div>
            <img src="<%= getMedia(lang, 'single/logo-web4.webp', 'images') %>" alt=""/>
        </div>

        <div class="line btn-parent position-relative">
            <a href="#"
                class="d-flex flex-row align-items-center gap-4 bg-on-primary-color position-absolute px-2 py-3">
                <span class="secondary-text-color txt-size-normal font-weight-bold text-nowrap"><%= t.components.footer.backToUpButton %></span>
                <i class="fa-solid fa-chevron-up secondary-text-color txt-size-normal"></i>
            </a>
        </div>
    </div>
</footer>