
   <div class="item d-grid grid-7 txt-size-normal align-items-center w-100 bb-style-solid border-color bw-2  py-2 px-2">
      <span class="subject w-fit-content"><%= subject %></span>
      <span class="ticket  w-fit-content"><%= ticket %></span>
      <div class="category d-flex align-items-center gap-2 w-fit-content">
         <i class="fa-cart-shopping"> </i>
         <span ><%= txt %></span>
      </div>
      <span class="status bg-primary-light-color py-1 px-2 radius-all-normal bw-1 border-style-solid border-primary-dark-color primary-dark-color w-fit-content"><%= status %></span>
      <div class="response d-flex flex-column gap-1 w-fit-content align-items-center">
         <span ><%= agent %></span>
         <span class="secondary-text-color"><%= date %></span>
      </div>
      <div class="date d-flex flex-column gap-1 w-fit-content align-items-center">
         <span><%= dayTime %></span>
         <span class="secondary-text-color"><%= houre %></span>
      </div>
      <a href="#" class="btn primary-dark-color radius-all-normal bw-2 txt-wrap-nowrap border-style-solid border-primary-light-color py-1 px-2 w-fit-content d-flex align-items-center gap-2">
         <span><%- button %></span>
         <i class="fa-solid fa-arrow-left"></i>
      </a>
   </div>
  
