<div class="sidebar-menu d-flex flex-column align-items-start gap-4 radius-all-medium overflow-hidden">
    <div class="py-4 bg-primary-color px-3 d-flex flex-row align-items-center justify-content-start gap-3 w-100">
        <div class="profile-box">
            <img src="<%= getMedia(lang, 'single/prof.jpg', 'images'); %>" alt="">
        </div>
        <div class="d-flex flex-column align-items-start gap-1">
            <span class="on-primary-color txt-size-mid-title font-weight-semi-bold"><%= sidebarMenu.profileName %></span>
            <span class="on-primary-color txt-size-normal font-weight-medium"><%= sidebarMenu.dateOfMembership %></span>
        </div>
    </div>
    <div class="menu-box d-flex flex-column align-items-start px-3">
        <a href="#" class="d-flex flex-row align-items-center gap-3 w-100 py-2">
            <i class="fa-regular fa-home-alt"></i>
            <span class="txt-size-mid-title font-weight-semi-bold"><%= sidebarMenu.menuList.itemOne %></span>
        </a>
        <a href="#" class="d-flex flex-row align-items-center gap-3 w-100 py-2">
            <i class="fa-regular fa-inbox"></i>
            <span class="txt-size-mid-title font-weight-semi-bold"><%= sidebarMenu.menuList.itemTwo %></span>
        </a>
        <a href="#" class="d-flex flex-row align-items-center gap-3 w-100 py-2">
            <i class="fa-regular fa-heart"></i>
            <span class="txt-size-mid-title font-weight-semi-bold"><%= sidebarMenu.menuList.itemThree %></span>
        </a>
        <a href="#" class="d-flex flex-row align-items-center gap-3 w-100 py-2">
            <i class="fa-regular fa-location-dot"></i>
            <span class="txt-size-mid-title font-weight-semi-bold"><%= sidebarMenu.menuList.itemFour %></span>
        </a>
        <a href="#" class="d-flex flex-row align-items-center gap-3 w-100 py-2">
            <i class="fa-regular fa-user"></i>
            <span class="txt-size-mid-title font-weight-semi-bold"><%= sidebarMenu.menuList.itemFive %></span>
        </a>
        <a href="#" class="d-flex flex-row align-items-center gap-3 w-100 py-2">
            <i class="fa-regular fa-headset"></i>
            <span class="txt-size-mid-title font-weight-semi-bold"><%= sidebarMenu.menuList.itemSix %></span>
        </a>
    </div>
    <div class="pb-4 px-3">
        <button class="d-flex flex-row align-items-center gap-3 bg-transparent-color">
            <i class="fa-solid fa-arrow-right-from-bracket primary-color txt-size-mid-title"></i>
            <span class="txt-size-mid-title font-weight-bold primary-color"><%= sidebarMenu.btnText %></span>
        </button>
    </div>
</div>