<div class="commodity-pack">
    <a href="<%= commodityPack.link %>" class="d-flex align-items-center gap-5">
        <div class="w-20 badge-wrapper">
            <img class="w-100" src="<%= image %>" alt="">
            <span class="badge bottom-0 right-0 bg-primary-color aspect-ratio-1x1 secondary-color radius-all-full"><%= numberItem %></span>
        </div>
        <span class="txt-size-big on-secondary-color"><%- commodityPack.title %></span>
        <span class="secondary font-weight-bold txt-size-extra-title"><%= commodityPack.count %></span>
    </a>
</div>