<!DOCTYPE html>
<html dir="<%= t.direction %>" lang="<%= t.language %>">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageName %></title>
    <link rel="icon" type="image/png" href="./assets/media/images/logo-web3.webp">
    <%_ let addCount = (typeof level !== 'undefined' && typeof level === 'number') ? level : 0; -%>
    <%_ let address = "../../../../"; -%>
    <%_ for(let i = 1; i <= addCount; i++) {
        address += "../"
    } -%>
    <base href="<%= address %>">
    <link rel="stylesheet" href="./assets/vendors/swiper/swiper-bundle-min.css">
    <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="./assets/icons/icomoon/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/miz.min.css">
    <link rel="stylesheet" href="./assets/css/style.min.css">
</head>

<body class="font-<%= t.language %>-primary">