<%- include('../layouts/page/head.ejs', {pageName: "home"}); -%>

    <main>
        <section id="storyBox" class="section pt-0 px-xl-0">
            <div class="container overflow-x-scroll w-100 mr-lg-0 ml-lg-0 px-lg-0 py-lg-6 position-relative">
                <div class="card-container swiper w-100">
                    <div class="story-container px-4">
                        <div class="swiper-wrapper">
                            <% for(let i = 0; i < t.pages.home.storyBox.components.stories.length; i++){ -%>
                                <%- include('../components/story/content.ejs', {story: t.pages.home.storyBox.components.stories[i]}); %>
                            <%_ } -%>
                        </div>
                    </div>

                    <!-- Navigation Buttons -->
                    <div class="swiper-button-next">
                        <i class="fa-solid fa-chevron-right on-secondary-color"></i>
                    </div>

                    <div class="swiper-button-prev">
                        <i class="fa-solid fa-chevron-left on-secondary-color"></i>
                    </div>
                </div>
            </div>
        </section>
        <section id="hero" class="section w-100 px-0 py-0 position-relative">
            <div class="container d-flex overflow-hidden w-100 position-relative">
                <div class="slider slider-loop <%= t.pages.home.hero.enableSliderDraggable ? 'slider-draggable' : null %> d-flex flex-column align-items-center w-100" data-slider-timer="<%= t.pages.home.hero.dataSliderTimer %>">
                    <div class="slider-wrapper w-100">
                        <div class="slider-container">
                        <%_ for(let i = 0; i < t.pages.home.hero.sliders.length; i++){ -%>
                            <div id="<%= t.pages.home.hero.sliders[i].id %>" class="slider-content d-flex flex-column justify-content-center align-items-center">
                                <img src="<%= getMedia(lang, '', 'images'); %>" alt="" class="w-100 object-contain" />
                            </div>
                        <%_ } -%>
                        </div>
                    </div>
                    <%_ if(t.pages.home.hero.enableSliderToggles){ -%>
                    <div class="slider-toggles position-absolute gap-2 justify-content-start">
                        <%_ for(let i = 0; i < t.pages.home.hero.sliders.length; i++){ -%>
                            <div data-slider-id="<%= t.pages.home.hero.sliders[i].id %>" class="pagination slider-toggle aspect-ratio-1x1 radius-all-full"></div>
                        <%_ } -%>
                    </div>
                    <%_ } -%>
                </div>
            </div>
        </section>
        <section id="exceptionalOffers" class="section w-100 overflow-hidden">
            <div class="container w-100">
                <div class="block w-100 flex-lg-column align-items-stretch bg-primary-color radius-all-large pie-4 px-lg-4">
                    <div class="w-20 div justify-content-center position-relative px-5" style="width: 350px">
                        <div class="block flex-column flex-lg-row align-items-center h-100 justify-content-center pt-8 gap-8">
                            <img src="<%= getMedia(lang, '', 'images'); %>" alt="" class="w-90 d-lg-none" />
                            <img src="<%= getMedia(lang, '', 'images'); %>" alt="" class="w-50 d-none d-lg-block" />
                            <a href="<%= t.pages.home.exceptionalOffers.banner.link %>" class="div align-items-center gap-2 on-primary-color font-weight-bold">
                                <%= t.pages.home.exceptionalOffers.banner.title %>
                                <i class="fas fa-angle-left"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-container swiper w-100 w-80 w-xl-100 overflow-hidden py-8">
                        <div class="offer-card-content">
                            <div class="swiper-wrapper">
                                <%_ for(let i = 0; i < t.pages.home.exceptionalOffers.components.productCards.length; i++) { -%>
                                    <%- include('../components/product-card/full/content.ejs', {productCard: t.pages.home.exceptionalOffers.components.productCards[i], image: getMedia(lang, `products/mobile-${i + 1}.webp`, "images")}); %>
                                <%_ } -%>
                            </div>
                        </div>

                        <!-- Navigation Buttons -->
                        <div class="swiper-button-next">
                            <i class="fa-solid fa-chevron-right on-secondary-color"></i>
                        </div>

                        <div class="swiper-button-prev">
                            <i class="fa-solid fa-chevron-left on-secondary-color"></i>
                        </div>

                        <!-- Pagination -->
                        <!-- <div class="swiper-pagination"></div> -->
                    </div>
                </div>
            </div>
        </section>
        <section id="popularCategories" class="section w-100 overflow-hidden">
            <div class="container gap-8 w-100">
                <div class="block w-100 justify-content-space-between align-items-center gap-5">
                    <div class="div align-items-center gap-3 horizental-line">
                        <a href="<%= t.company.logoImage.replaceSimple.link %>">
                            <img src="<%= getMedia(lang, '', 'images'); %>" alt="" width="30px" />
                        </a>
                        <h2 class="text-color txt-big-title font-weight-bold text-nowrap"><%= t.pages.home.popularCategories.title %></h2>
                    </div>
                    <%- include('../components/see-all/content.ejs', {seeAll: t.pages.home.popularCategories.components.seeAll}); %>
                </div>
                <div class="d-grid grid-6 grid-xl-3 grid-sm-2 gap-4 w-100">
                    <%_ for(let i = 0; i < 3; i++){ %>
                        <%- include('../components/category-card/focused-card/content.ejs', {focusedCard: t.pages.home.popularCategories.components.focusedCards[i], width: "100px"}); %>
                    <%_ } %>
                    <div class="block gap-4 flex-column">
                        <%_ for(let i = 3; i < 5; i++){ %>
                            <%- include('../components/category-card/focused-card/content.ejs', {focusedCard: t.pages.home.popularCategories.components.focusedCards[i], width: "60px"}); %>
                        <%_ } %>
                    </div>
                    <%_ for(let i = 5; i < 6; i++){ %>
                        <%- include('../components/category-card/focused-card/content.ejs', {focusedCard: t.pages.home.popularCategories.components.focusedCards[i], width: "100px"}); %>
                    <%_ } %>
                    <div class="d-grid grid-2 gap-4">
                        <%_ for(let i = 6; i < 10; i++){ %>
                            <%- include('../components/category-card/focused-card/content.ejs', {focusedCard: t.pages.home.popularCategories.components.focusedCards[i], width: "50px"}); %>
                        <%_ } %>
                    </div>
                </div>
            </div>
        </section>
        <section id="bestSellers" class="section w-100 overflow-hidden">
            <div class="container gap-4 w-100">
                <div class="block w-100 justify-content-space-between align-items-center gap-5">
                    <div class="div align-items-center gap-3 horizental-line">
                        <a href="<%= t.company.logoImage.replaceSimple.link %>">
                            <img src="<%= getMedia(lang, '', 'images'); %>" alt="" width="30px" />
                        </a>
                        <h2 class="text-color txt-big-title font-weight-bold text-nowrap"><%= t.pages.home.bestSellers.title %></h2>
                    </div>
                    <%- include('../components/see-all/content.ejs', {seeAll: t.pages.home.bestSellers.components.seeAll}); %>
                </div>
                <div class="card-container swiper w-100 w-80 w-xl-100 overflow-hidden py-8">
                    <div class="offer-card-content">
                        <div class="swiper-wrapper">
                            <%_ for(let i = 0; i < t.pages.home.bestSellers.components.productCards.length; i++) { -%>
                                <%- include('../components/product-card/full/content.ejs', {productCard: t.pages.home.bestSellers.components.productCards[i], image: getMedia(lang, `products/mobile-${i + 1}.webp`, "images")}); %>
                            <%_ } -%>
                        </div>
                    </div>

                    <!-- Navigation Buttons -->
                    <div class="swiper-button-next">
                        <i class="fa-solid fa-chevron-right on-secondary-color"></i>
                    </div>

                    <div class="swiper-button-prev">
                        <i class="fa-solid fa-chevron-left on-secondary-color"></i>
                    </div>

                    <!-- Pagination -->
                    <!-- <div class="swiper-pagination"></div> -->
                </div>
            </div>
        </section>
        <section id="laptopOffers" class="section w-100 overflow-hidden">
            <div class="container w-100">
                <div class="block w-100 flex-row-reverse flex-lg-column align-items-stretch bg-primary-color radius-all-large pis-4 px-lg-4">
                    <div class="w-20 div justify-content-center position-relative px-5" style="width: 350px">
                        <div class="block flex-column flex-lg-row align-items-center h-100 justify-content-center pt-8 gap-8">
                            <img src="<%= getMedia(lang, '', 'images'); %>" alt="" class="w-90 d-lg-none" />
                            <img src="<%= getMedia(lang, '', 'images'); %>" alt="" class="w-50 d-none d-lg-block" />
                            <a href="<%= t.pages.home.laptopOffers.banner.link %>" class="div align-items-center gap-2 on-primary-color font-weight-bold">
                                <%= t.pages.home.laptopOffers.banner.title %>
                                <i class="fas fa-angle-left"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-container swiper w-100 w-80 w-xl-100 overflow-hidden py-8">
                        <div class="offer-card-content">
                            <div class="swiper-wrapper">
                                <%_ for(let i = 0; i < t.pages.home.laptopOffers.components.productCards.length; i++) { -%>
                                    <%- include('../components/product-card/full/content.ejs', {productCard: t.pages.home.laptopOffers.components.productCards[i], image: getMedia(lang, `products/mobile-${i + 1}.webp`, "images")}); %>
                                <%_ } -%>
                            </div>
                        </div>

                        <!-- Navigation Buttons -->
                        <div class="swiper-button-next">
                            <i class="fa-solid fa-chevron-right on-secondary-color"></i>
                        </div>

                        <div class="swiper-button-prev">
                            <i class="fa-solid fa-chevron-left on-secondary-color"></i>
                        </div>

                        <!-- Pagination -->
                        <!-- <div class="swiper-pagination"></div> -->
                    </div>
                </div>
            </div>
        </section>
        <section id="bestsellersCategory" class="section">
            <div class="container d-grid grid-3 gap-8 grid-md-1 w-100 px-md-20">
                <a href="#">
                    <img class="w-100" src="<%= getMedia(lang, '', 'images'); %>" alt="alt homepage" />
                </a>
                <a href="#">
                    <img class="w-100" src="<%= getMedia(lang, '', 'images'); %>" alt="alt homepage" />
                </a>
                <a href="#">
                    <img class="w-100" src="<%= getMedia(lang, '', 'images'); %>" alt="alt homepage" />
                </a>
            </div>
        </section>
        <section id="economicalProducts" class="section w-100 overflow-hidden">
            <div class="container gap-4 w-100">
                <div class="block w-100 justify-content-space-between align-items-center gap-5">
                    <div class="div align-items-center gap-3 horizental-line">
                        <a href="<%= t.company.logoImage.replaceSimple.link %>">
                            <img src="<%= getMedia(lang, '', 'images'); %>" alt="" width="30px" />
                        </a>
                        <h2 class="text-color txt-big-title font-weight-bold text-nowrap"><%= t.pages.home.economicalProducts.title %></h2>
                    </div>
                    <%- include('../components/see-all/content.ejs', {seeAll: t.pages.home.economicalProducts.components.seeAll}); %>
                </div>
                <div class="card-container swiper w-100 w-80 w-xl-100 overflow-hidden py-8">
                    <div class="offer-card-content">
                        <div class="swiper-wrapper">
                            <%_ for(let i = 0; i < t.pages.home.economicalProducts.components.productCards.length; i++) { -%>
                                <%- include('../components/product-card/full/content.ejs', {productCard: t.pages.home.economicalProducts.components.productCards[i], image: getMedia(lang, `products/mobile-${i + 1}.webp`, "images")}); %>
                            <%_ } -%>
                        </div>
                    </div>

                    <!-- Navigation Buttons -->
                    <div class="swiper-button-next">
                        <i class="fa-solid fa-chevron-right on-secondary-color"></i>
                    </div>

                    <div class="swiper-button-prev">
                        <i class="fa-solid fa-chevron-left on-secondary-color"></i>
                    </div>

                    <!-- Pagination -->
                    <!-- <div class="swiper-pagination"></div> -->
                </div>
            </div>
        </section>
        <section id="creditPurchase" class="section">
            <div class="container overflow-hidden gap-8 w-100">
                <div class="block w-100 justify-content-space-between align-items-center gap-5">
                    <div class="div align-items-center gap-3 horizental-line">
                        <a href="<%= t.company.logoImage.replaceSimple.link %>">
                            <img src="<%= getMedia(lang, '', 'images'); %>" alt="" width="30px" />
                        </a>
                        <h2 class="text-color txt-big-title font-weight-bold text-nowrap"><%= t.pages.home.creditPurchase.title %></h2>
                    </div>
                    <%- include('../components/see-all/content.ejs', {seeAll: t.pages.home.creditPurchase.components.seeAll}); %>
                </div>
                <div class="block flex-row w-100 overflow-x-scroll">
                    <div class="div d-grid grid-5 gap-4">
                        <%_ for(let i = 0; i < t.pages.home.creditPurchase.components.deviceBanners.length; i++) { -%>
                            <%- include('../components/devicebanner/content.ejs', {deviceBanner: t.pages.home.creditPurchase.components.deviceBanners[i]}); %>
                        <%_ } -%>
                    </div>
                </div>
            </div>
        </section>
        <section id="boxTaste" class="section">
            <div class="container overflow-hidden gap-8 w-100">
                <div class="block w-100 justify-content-space-between align-items-center gap-5">
                    <div class="block flex-row align-items-center gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="74 7 26 32" fill="none">
                            <path d="M76.375 31.875L84.9763 37.031" stroke="#e80645" stroke-width="3" stroke-linecap="round"></path>
                            <path d="M75.2617 16.3672L85.01 22.2107" stroke="#e80645" stroke-width="3" stroke-linecap="round"></path>
                            <path d="M77.4883 8.63281L91.9676 17.3123" stroke="#e80645" stroke-width="3" stroke-linecap="round"></path>
                            <path d="M90.2812 8.61328L98.2167 13.3701" stroke="#e80645" stroke-width="3" stroke-linecap="round"></path>
                            <path d="M98.1875 13.75L84.9763 22.2629" stroke="#e80645" stroke-width="3" stroke-linecap="round"></path>
                            <path d="M98.1875 28.5195L84.9763 37.0325" stroke="#e80645" stroke-width="3" stroke-linecap="round"></path>
                            <path d="M84.9766 37.0312L84.9766 22.2632" stroke="#e80645" stroke-width="3" stroke-linecap="round"></path>
                            <path d="M98.1875 28.1875L98.1875 13.4194" stroke="#e80645" stroke-width="3" stroke-linecap="round"></path>
                        </svg>
                        <div class="line-horizental h-100"></div>
                        <p class="font-weight-bold secondary-text-color txt-size-big lh-5">
                            <%- t.pages.home.boxTaste.descriptions %>
                        </p>
                    </div>
                    <%- include('../components/see-all/content.ejs', {seeAll: t.pages.home.boxTaste.components.seeAll}); %>
                </div>
                <div class="block d-grid grid-4 gap-15 gap-lg-5 grid-md-2 grid-sm-2 justify-content-space-between align-items-stretch">
                    <%_ for(let i = 0; i < 4; i++){ -%>
                        <div class="div d-grid grid-2-2 gap-3">
                            <div class="div taste-box w-100 h-100 justify-content-center align-items-center pt-1 radius-all-medium position-relative information-tooltip tooltip-top border-color bw-1 border-style-solid overflow-hidden">
                                <a href="<%= t.pages.home.boxTaste.tasteBoxes[i].category.link %>" class="d-flex flex-column align-items-center gap-1 justify-content-center">
                                    <span class="font-weight-bold text-color"><%= t.pages.home.boxTaste.tasteBoxes[i].category.title %></span>
                                    <span class="txt-size-small secondary-text-color font-weight-bold"><%= t.pages.home.boxTaste.tasteBoxes[i].category.text %></span>
                                    <img src="<%= getMedia(lang, '', 'images'); %>" alt="" class="bottom-0 w-100" />
                                </a>
                            </div>
                            <%_ for(let j = 0; j < 2; j++){ -%>
                                <div class="div w-100 h-100 justify-content-center align-items-center pt-1 radius-all-medium position-relative information-tooltip tooltip-top border-color bw-1 border-style-solid overflow-hidden">
                                    <!-- src="<%= getMedia(lang, '', 'images'); %>" alt="" /> -->
                                    <img src="<%= getMedia(lang, '', 'images'); %>" alt="" />
                                </div>
                            <%_ } -%>
                            <div class="div w-100 h-100 justify-content-center align-items-center pt-1 radius-all-medium position-relative information-tooltip tooltip-top border-color bw-1 border-style-solid overflow-hidden">
                                <%- include('../components/see-all/content.ejs', {seeAll: t.pages.home.boxTaste.components.seeAll}); %>
                            </div>
                        </div>
                    <%_ } -%>
                </div>
            </div>
        </section>
        <section id="productPackage" class="section flex-row w-100 gap-3 flex-md-column align-items-stretch h-fit-content">
            <div class="w-25 border radius-all-medium div flex-column justify-content-space-between w-xl-100 bw-1 border-style-solid border-color radius-all-medium">
                <div class="div align-items-center px-8 pt-5 justify-content-space-between">
                    <span class="primary-color font-weight-bold"><%= t.pages.home.productPackage.packageTitle %></span>
                    <span class="text-color txt-size-big-title font-weight-bold"><%= t.pages.home.productPackage.packageName %></span>
                </div>
                <div class="div flex-column product-list">
                    <%_ let lastDiscountPercentage = null, lastCount = null, lastPrice = null, i = null; -%>
                    <%_ for(let i = 0; i < t.pages.home.productPackage.components.commodityPacks.length; i++){ -%>
                        <%_ let discountPercentage = Number(String(t.pages.home.productPackage.components.commodityPacks[i].discountPercentage).replace(/[^\d.-]/g, "")); -%>
                        <%_ let price = Number(String(t.pages.home.productPackage.components.commodityPacks[i].price).replace(/[^\d.-]/g, "")); -%>
                        
                        <%_ lastPrice += price; -%>
                        <%_ lastCount += t.pages.home.productPackage.components.commodityPacks[i].count; -%>
                        <%_ lastDiscountPercentage += discountPercentage; -%>
                        
                        <%- include('../components/commodity-pack/content.ejs', {commodityPack: t.pages.home.productPackage.components.commodityPacks[i], numberItem: i + 1}); %>
                        
                        <%_ if (lastDiscountPercentage > 100) { -%>
                            <% throw new Error(`Error: The number ${lastDiscountPercentage} is greater than 100.\n`);%>
                        <%_ } -%>
                    <%_ } -%>
                    <%_ let specialPrice = Number(lastPrice - ((lastPrice / 100) * lastDiscountPercentage)); -%>
                </div>
                <div class="d-flex align-items-center justify-content-space-between px-8 pb-5 pt-xl-5">
                    <div class="d-flex flex-row align-items-center gap-3">
                        <p class="text-color txt-title font-weight-bold txt-align-center">
                            <span class="primary-color txt-size-big-title font-weight-bold"><%= lastCount %></span>
                            <%- t.pages.home.productPackage.text %>
                        </p>
                        <span class="alert-toggle w-100 bg-btn-hover p-3 cursor-pointer bg-button-color button-text-color font-weight-bold txt-align-center radius-all-small" data-alert-title="<%= t.pages.home.productPackage.showItems.dataAlertTitle %>"><%= t.pages.home.productPackage.showItems.text %></span>
                    </div>
                    <div class="d-flex flex-column gap-2">
                        <%_ if (lastDiscountPercentage) { -%>
                            <div class="d-flex gap-1 align-items-center">                            
                                <span class="secondary-text-color font-weight-bold off txt-decoration-line-through"><%= lastPrice.toLocaleString('en-US') %></span>
                                <div class="font-weight-bold box-shadow on-primary-color bg-primary-color font-weight-medium px-1 py-0 radius-all-small txt-mid-title off-percent d-flex align-items-center">
                                    <span class="on-primary-color bg-primary-color font-weight-bold radius-all-small px-1 py-0 d-flex align-items-center"><%= lastDiscountPercentage.toLocaleString('en-US') %></span>
                                    <svg xmlns="http://www.w3.org/2000/svg " width="12 " height="12 " viewBox="0 0 12 12 " fill="none">
                                        <path d="M9.60693 2.06839L1.99155 9.68377 " stroke="white " stroke-width="3 " stroke-linecap="round "></path>
                                        <circle cx="2.11538 " cy="3.03848 " r="2.11538 " fill="white "></circle>
                                        <circle cx="8.88443 " cy="8.96155 " r="2.11538 " fill="white "></circle>
                                    </svg>
                                </div>
                            </div>
                        <%_ } -%>
                        <div class="d-flex align-items-center justify-content-end">
                            <%_ if(t.currency){ -%>
                                <%_ if(t.currency.place == "prefix"){ -%>
                                    <%- t.currency.symbol %>
                                <%_ } -%>
                                <span class="font-weight-bold text-color txt-high-title"><%= specialPrice.toLocaleString('en-US') %></span>
                                <%_ if(t.currency.place == "suffix"){ -%>
                                    <%- t.currency.symbol %>
                                <%_ } -%>
                            <%_ } -%>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-75 position-relative w-xl-100 aspect-ratio-3x1">
                <img src="<%= getMedia(lang, '', 'images'); %>" alt="" class="w-100 h-100 radius-all-medium object-cover" />
            </div>
        </section>
        <section id="mobileOffers" class="section w-100 overflow-hidden">
            <div class="container w-100">
                <div class="block w-100 flex-lg-column align-items-stretch bg-primary-color radius-all-large pie-4 px-lg-4">
                    <div class="w-20 div justify-content-center position-relative px-5" style="width: 350px">
                        <div class="block flex-column flex-lg-row align-items-center h-100 justify-content-center pt-8 gap-8">
                            <img src="<%= getMedia(lang, '', 'images'); %>" alt="" class="w-90 d-lg-none" />
                            <img src="<%= getMedia(lang, '', 'images'); %>" alt="" class="w-50 d-none d-lg-block" />
                            <a href="<%= t.pages.home.mobileOffers.banner.link %>" class="div align-items-center gap-2 on-primary-color font-weight-bold">
                                <%= t.pages.home.mobileOffers.banner.title %>
                                <i class="fas fa-angle-left"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-container swiper w-100 w-80 w-xl-100 overflow-hidden py-8">
                        <div class="offer-card-content">
                            <div class="swiper-wrapper">
                                <%_ for(let i = 0; i < t.pages.home.mobileOffers.components.productCards.length; i++) { -%>
                                    <%- include('../components/product-card/full/content.ejs', {productCard: t.pages.home.mobileOffers.components.productCards[i], image: getMedia(lang, `products/mobile-${i + 1}.webp`, "images")}); %>
                                <%_ } -%>
                            </div>
                        </div>

                        <!-- Navigation Buttons -->
                        <div class="swiper-button-next">
                            <i class="fa-solid fa-chevron-right on-secondary-color"></i>
                        </div>

                        <div class="swiper-button-prev">
                            <i class="fa-solid fa-chevron-left on-secondary-color"></i>
                        </div>

                        <!-- Pagination -->
                        <!-- <div class="swiper-pagination"></div> -->
                    </div>
                </div>
            </div>
        </section>
        <section id="bestMobileSellers" class="section w-100 overflow-hidden">
            <div class="container gap-4 w-100">
                <div class="block w-100 justify-content-space-between align-items-center gap-5">
                    <div class="div align-items-center gap-3 horizental-line">
                        <a href="<%= t.company.logoImage.replaceSimple.link %>">
                            <img src="<%= getMedia(lang, '', 'images'); %>" alt="" width="30px" />
                        </a>
                        <h2 class="text-color txt-big-title font-weight-bold text-nowrap"><%= t.pages.home.bestMobileSellers.title %></h2>
                    </div>
                    <%- include('../components/see-all/content.ejs', {seeAll: t.pages.home.bestMobileSellers.components.seeAll}); %>
                </div>
                <div class="card-container swiper w-100 w-80 w-xl-100 overflow-hidden py-8">
                    <div class="offer-card-content">
                        <div class="swiper-wrapper">
                            <%_ for(let i = 0; i < t.pages.home.bestMobileSellers.components.productCards.length; i++) { -%>
                                <%- include('../components/product-card/full/content.ejs', {productCard: t.pages.home.bestMobileSellers.components.productCards[i], image: getMedia(lang, `products/mobile-${i + 1}.webp`, "images")}); %>
                            <%_ } -%>
                        </div>
                    </div>
                    <!-- Navigation Buttons -->
                    <div class="swiper-button-next">
                        <i class="fa-solid fa-chevron-right on-secondary-color"></i>
                    </div>

                    <div class="swiper-button-prev">
                        <i class="fa-solid fa-chevron-left on-secondary-color"></i>
                    </div>

                    <!-- Pagination -->
                    <!-- <div class="swiper-pagination"></div> -->
                </div>
            </div>
        </section>
        <section id="bannerProduct" class="section">
            <img src="<%= getMedia(lang, '', 'images'); %>" alt="" class="w-100 position-relative" />
            <a href="<%= t.pages.home.bannerProduct.link %>" class="d-flex position-absolute banner-icon inset-end-20">
                <img src="<%= getMedia(lang, '', 'images'); %>" alt="" width="35px" />
            </a>
        </section>
        <section id="suggestionCategories" class="section">
            <div class="container w-100 gap-8">
                <div class="block w-100 justify-content-space-between align-items-center gap-5">
                    <div class="div align-items-center gap-3 horizental-line">
                        <a href="<%= t.company.logoImage.replaceSimple.link %>">
                            <img src="<%= getMedia(lang, '', 'images'); %>" alt="" width="30px" />
                        </a>
                        <h2 class="text-color txt-big-title font-weight-bold text-nowrap"><%= t.pages.home.suggestionCategories.title %></h2>
                    </div>
                    <%- include('../components/see-all/content.ejs', {seeAll: t.pages.home.suggestionCategories.components.seeAll}); %>
                </div>
                <div class="block d-grid grid-3 gap-7 grid-lg-2 grid-sm-1 w-100 px-sm-20">
                    <%_ for(let i = 0; i < t.pages.home.suggestionCategories.components.topsellers.length; i++){ -%>
                        <%- include('../components/topseller/content.ejs', {topseller: t.pages.home.suggestionCategories.components.topsellers[i], numberItem: i + 1}); %>
                    <%_ } -%>
                </div>
            </div>
        </section>
        <section id="brandWrapper" class="section">
            <div class="container gap-8 w-100">
                <div class="block w-100 justify-content-space-between align-items-center gap-5">
                    <div class="div align-items-center gap-3 horizental-line">
                        <a href="<%= t.company.logoImage.replaceSimple.link %>">
                            <img src="<%= getMedia(lang, '', 'images'); %>" alt="" width="30px" />
                        </a>
                        <h2 class="text-color txt-big-title font-weight-bold text-nowrap"><%= t.pages.home.brandWrapper.title %></h2>
                    </div>
                    <%- include('../components/see-all/content.ejs', {seeAll: t.pages.home.brandWrapper.components.seeAll}); %>
                </div>
                <div class="block flex-row w-100 bw-2 border-style-solid radius-all-medium border-color">
                    <div class="card-container swiper w-100">
                        <div class="banner-card-content">
                            <div class="swiper-wrapper">
                                <div class="logo div px-2 swiper-slide">
                                    <img src="<%= getMedia(lang, '', 'images'); %>" alt="" class="w-100 object-contain">
                                </div>
                                <div class="logo div px-2 swiper-slide">
                                    <img src="<%= getMedia(lang, '', 'images'); %>" alt="" class="w-100 object-contain">
                                </div>
                                <div class="logo div px-2 swiper-slide">
                                    <img src="<%= getMedia(lang, '', 'images'); %>" alt="" class="w-100 object-contain">
                                </div>
                                <div class="logo div px-2 swiper-slide">
                                    <img src="<%= getMedia(lang, '', 'images'); %>" alt="" class="w-100 object-contain">
                                </div>
                                <div class="logo div px-2 swiper-slide">
                                    <img src="<%= getMedia(lang, '', 'images'); %>" alt="" class="w-100 object-contain">
                                </div>
                                <div class="logo div px-2 swiper-slide">
                                    <img src="<%= getMedia(lang, '', 'images'); %>" alt="" class="w-100 object-contain">
                                </div>
                                <div class="logo div px-2 swiper-slide">
                                    <img src="<%= getMedia(lang, '', 'images'); %>" alt="" class="w-100 object-contain">
                                </div>
                                <div class="logo div px-2 swiper-slide">
                                    <img src="<%= getMedia(lang, '', 'images'); %>" alt="" class="w-100 object-contain">
                                </div>
                                <div class="logo div px-2 swiper-slide">
                                    <img src="<%= getMedia(lang, '', 'images'); %>" alt="" class="w-100 object-contain">
                                </div>
                                <div class="logo div px-2 swiper-slide">
                                    <img src="<%= getMedia(lang, '', 'images'); %>" alt="" class="w-100 object-contain">
                                </div>
                                <div class="logo div px-2 swiper-slide">
                                    <img src="<%= getMedia(lang, '', 'images'); %>" alt="" class="w-100 object-contain">
                                </div>
                            </div>
                        </div>

                        <!-- Navigation Buttons -->
                        <div class="swiper-button-next" style="top: 65%">
                            <i class="fa-solid fa-chevron-right on-secondary-color"></i>
                        </div>

                        <div class="swiper-button-prev" style="top: 65%">
                            <i class="fa-solid fa-chevron-left on-secondary-color"></i>
                        </div>

                        <!-- Pagination -->
                        <!-- <div class="swiper-pagination"></div> -->
                    </div>
                </div>
            </div>
        </section>
        <section id="bannerProductSecond" class="section">
            <img src="<%= getMedia(lang, '', 'images'); %>" alt="" class="w-100 position-relative" />
            <a href="<%= t.pages.home.bannerProductSecond.link %>" class="d-flex position-absolute banner-icon inset-end-20">
                <img src="<%= getMedia(lang, '', 'images'); %>" alt="" width="35px" />
            </a>
        </section>

        <section id="weblog" class="section">
            <%_
                const weblog = t.pages.home.weblog.components;
                const latestBlogPosts = weblog.latestBlogPosts;
                const newestBlogs = weblog.newestBlogs;
                const mostDiscussed = weblog.mostDiscussed;
                const techNews = weblog.techNews;
                const SuggestionsBlog = weblog.SuggestionsBlog;
                const weblogLastComments = weblog.weblogLastComments;
            -%>
            <div class="container gap-8">
                <div class="block w-100 justify-content-space-between align-items-center gap-5">
                    <!-- <div class="div align-items-center gap-3 horizental-line">
                        <img src="<%= getMedia(lang, '', 'images'); %>" alt="" width="30px" />
                        <h2 class="text-color txt-big-title font-weight-bold text-nowrap">وبلاگ</h2>
                    </div>
                    <a href="./pages/articles.html" class="div align-items-center">
                        <span class="text-color txt-subtitle font-weight-bold">مشاهده‌همه‌</span>
                        <img src="<%= getMedia(lang, '', 'images'); %>" alt="" width="35px" />
                    </a> -->
                </div>
                <div class="block d-grid grid-2 gap-6 grid-md-1">
                    <div class="div flex-column justify-content-space-between gap-5">
                        <% for(let i = 0; i < techNews.length; i++) { %>
                            <%- include('../components/weblog-card/newest-row/content.ejs', {
                                title: techNews[i].title,
                                description: techNews[i].description,
                                date: techNews[i].date,
                                commentCount: techNews[i].commentCount,
                                postView: techNews[i].postView,
                                image: techNews[i].image,
                                readingTime: techNews[i].readingTime,
                                link: techNews[i].link,
                                enableBorderBottom: techNews[i].enableBorderBottom 
                            }); -%>
                        <% } %>
                    </div>
                    <%- include('../components/article/banner-weblog/content.ejs', {
                        title : latestBlogPosts.firstWeblogArticle.title,
                        author : latestBlogPosts.firstWeblogArticle.author,
                        date : latestBlogPosts.firstWeblogArticle.date,
                        commentCount : latestBlogPosts.firstWeblogArticle.commentCount,
                        readingTime : latestBlogPosts.firstWeblogArticle.readingTime,
                        banner : latestBlogPosts.firstWeblogArticle.banner
                    }); -%>
                </div>
            </div>
        </section>
    </main>

<% for(let i = 0; i < t.pages.home.storyBox.components.stories.length; i++){ -%>
    <%- include('../components/story/dialog-content.ejs', {story: t.pages.home.storyBox.components.stories[i], dataSliderTimer: "7"}); %>
<%_ } -%>

<%- include('../layouts/page/dialog.ejs'); %>

<%- include('../layouts/page/foot.ejs'); %>